<div class="container">    
   <header>
       <nav>
          <ul class="site-nav">
              <li><mat-list-item role="listitem"><a mat-button routerLink="/landing"  class="button-link">Main page</a></mat-list-item></li>
                <li><mat-list-item role="listitem"><a mat-button routerLink="/account/user" class="button-link">Account info</a></mat-list-item></li>
                <li class="nav-right"><mat-list-item role="listitem"> <app-logout></app-logout></mat-list-item></li>          
            </ul>
       </nav>
      </header>
      <mat-divider></mat-divider>
     <main>
        <router-outlet></router-outlet>
     </main>   
          
      </div>

