   <header>
        <div style="color: #fff; cursor: pointer">
          <h2>
              เว็บไซต์ของฉัน
          </h2>
        </div>
      </header>
      <div class="container">
          <mat-drawer-container class="example-container">
              <mat-drawer mode="side" opened> <mat-list role="list">
                  <mat-list-item role="listitem"><a mat-button routerLink="/landing"  class="button-link">Main page</a></mat-list-item>
                  <mat-list-item role="listitem"><a mat-button routerLink="/account/user" class="button-link">Account info</a></mat-list-item>
                  <mat-list-item role="listitem"> <app-logout></app-logout></mat-list-item>
                </mat-list>

              </mat-drawer>
              <mat-drawer-content class="main-content"><router-outlet></router-outlet></mat-drawer-content>
            </mat-drawer-container>
      </div>

