<h2 style="display: inline-block;">Messages</h2> <span style="display: inline-block;margin-left: 5px">(Click on user to see the messages)</span>
<br />
<!-- Unread messages: {{(unreadMessages$ | async).length}} -->
<br />
<!-- <div class="grid">
        <ng-template ngFor let-message [ngForOf]="messages$ | async" let-i="index" >
              <app-message [message]="message" (actionsEmitted)="onChildrenActions($event)"></app-message>
            </ng-template>
</div>
 -->
<div class="grid">
 <div class="message-header"><h1>Messaging</h1></div>
 <div class="sender-info"><div><b>Friend</b></div><div>Mobile 9h ago</div></div>
 <div class="message-search"><input placeholder=" Search messages" /></div>
 <div class="chat-history"> 
   <ng-template ngFor let-message [ngForOf]="messages$ | async" let-i="index" >
    <app-message [message]="message" (actionsEmitted)="onChildrenActions($event)"></app-message>
  </ng-template>
</div>
 <div class="contacts-list"><ng-template ngFor let-user [ngForOf]="users$ | async" let-i="index" >
    <app-chat-user [user]="user" (actionsEmitted)="onChildrenActions($event)"></app-chat-user>
    <mat-divider ></mat-divider>
  </ng-template></div>
 <textarea class="chat-area" placeholder="Write a message..."></textarea>
 <div class="message-panel"><button mat-flat-button type="submit" >
    Send
  </button></div>
</div>